* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

:focus,
:active {
outline: none;
}

a:focus,
a:active {
outline: none;
}

li {
list-style-type: none;
}

nav,
footer,
header,
aside {
display: block;
}

html,
body {
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
}

button::-moz-focus-inner {
padding: 0;
border: 0;
}
a {
color: inherit;
font-size: inherit;
}
a,
a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

ul li {
list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
font-size: inherit;
font-weight: 400;
}

body {
  padding: 10px 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: red;
  color: white;
}
.title {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}
p {
  font-size: 24px;
  line-height: 1.4;
  /* padding: 0 20px; */
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.button {
  padding: 10px 20px;
  font-weight: 700;
  width: 75%;
  margin: 0 auto;
  font-size: 26px;
  background: #000;
  color: white;
  border-radius: 5px;
}